@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.start-page {
  min-height: 100vh;
  background: $purple;
  padding: 180px 30px;
  position: relative;
  @include screen(mobile) {
    padding: 125px 30px 41px;
  }
  .start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 100px;
    }
  }
}
