@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.start-page {
  min-height: 100vh;
  background: $purple;
  padding: 180px 30px;
  position: relative;
  @include screen(mobile) {
    padding: 125px 30px 41px;
  }
  .start-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome-text {
      font-weight: bold;
      font-size: 46px;
      line-height: 57px;
      color: $white;
      margin-bottom: 30px;
      @include screen(mobile) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 10px;
      }
    }
    .trivia-text {
      margin-bottom: 50px;
      @include screen(mobile) {
        width: 80%;
        height: auto;
      }
    }
    .label {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      color: $light-orange;
      font-weight: bold;
      font-size: 15px;
      svg {
        margin-right: 14px;
        @include screen(mobile) {
          width: 25px;
          height: auto;
        }
      }
    }
    .input-wrapper {
      margin-bottom: 36px;
      @include screen(mobile) {
        width: 100%;
        margin-bottom: 25px;
      }
    }
    button {
      margin-top: 100px;
    }
  }
  .illustration {
    position: absolute;
    &.mobile {
      display: none;
    }
    &.desktop {
      &.one {
        left: 0;
        top: 0;
      }
      &.two {
        right: 0;
        top: 0;
      }
      &.three {
        left: 0;
        bottom: 0;
      }
      &.four {
        right: 0;
        bottom: 0;
      }
    }
    @include screen(mobile) {
      &.mobile {
        display: initial;
        &.one {
          left: 0;
          top: 0;
        }
        &.two {
          right: 0;
          top: 0;
        }
        &.three {
          left: 0;
          bottom: 0;
        }
        &.four {
          right: 0;
          bottom: 0;
        }
      }
      &.desktop {
        display: none;
      }
    }
  }
}
