@import "../../sass/_mixins.scss";

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  &__spinner {
    height: 50px;
    width: 50px;
    @include screen(desktop) {
      height: 100px;
      width: 100px;
    }
  }
}
