@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.question-page {
  min-height: 100vh;
  background: $white;
  padding: 180px 30px;
  position: relative;
  @include screen(mobile) {
    padding: 125px 20px;
  }
  .question-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 655px;
    margin: 0 auto;

    button{
        margin-top: 30px;
        text-transform: uppercase;
        @include screen(mobile){
            margin-top: 5px;
        }
    }
  }
}
