@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.container {
  min-height: 100vh;
  padding: 100px 30px 41px;
  position: relative;
  @include screen(desktop) {
    padding: 180px 30px;
  }
  &--purple {
    background: $purple;
  }
  &--white {
    background: $white;
  }
  &__content {
    max-width: 620px;
    margin: 0 auto;
  }
}
