@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.button {
  width: 100%;
  max-width: 446px;
  height: 64px;
  font-size: 15px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: 10;
  @include screen(desktop) {
    width: 446px;
    height: 89px;
    font-size: 21px;
  }
  &--orange {
    background: linear-gradient(90deg, #ffa67a 0%, #ff6065 100%);
    border: 0;
    color: $white;
    border-bottom: 4px solid darken($color: #ff6065, $amount: 30);
    @include screen(desktop) {
      border-bottom: 6px solid darken($color: #ff6065, $amount: 30);
    }
  }
  &--purple {
    background: $deep-purple;
    border: 0;
    color: $white;
    border-bottom: 4px solid darken($color: $deep-purple, $amount: 10);
    @include screen(desktop) {
      border-bottom: 6px solid darken($color: $deep-purple, $amount: 10);
    }
  }
  &--outline {
    background: transparent;
    border: 2px solid $deep-purple;
    color: $deep-purple;
  }
  &:active {
    border-bottom: 0;
    transform: translateY(2px);
    @include screen(desktop) {
      transform: translateY(4px);
    }
  }
}
