@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.result-page {
  min-height: 100vh;
  background: $purple;
  padding: 180px 30px;
  position: relative;
  @include screen(mobile) {
    padding: 47px 30px 41px;
  }
  .result-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 620px;
    margin: 0 auto;
    position: relative;
    .close{
        position: absolute;
        right: -130px;
        cursor: pointer;
        z-index: 2;
        @include screen(mobile){
            width: 15px;
            height: 15px;
            right: -15px;
        }
    }
    button {
      margin-top: 36px;
      text-transform: uppercase;
      @include screen(mobile) {
        margin-top: 13px;
      }
    }
  }
}
