@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.question-illustration {
    position: absolute;
    &.mobile {
      display: none;
    }
    &.desktop {
      &.one {
        left: 0;
        top: 0;
      }
      &.two {
        right: 0;
        top: 0;
      }
      &.three {
        left: 0;
        bottom: 0;
      }
      &.four {
        right: 0;
        bottom: 0;
      }
    }
    @include screen(mobile) {
      &.mobile {
        display: initial;
        &.one {
          left: 0;
          top: 0;
        }
        &.two {
          right: 0;
          top: 0;
        }
        &.three {
          left: 0;
          bottom: 0;
          width: 120px;
          height: auto;
        }
        &.four {
          right: 0;
          bottom: 238px;
        }
        &.five {
            right: 0;
            bottom: 0;
        }
      }
      &.desktop {
        display: none;
      }
    }
  }