@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.result-illustration {
  position: absolute;
  &.mobile {
    &.one {
      left: 0;
      top: 0;
    }
    &.two {
      right: 0;
      top: 0;
    }
    &.three {
      right: 0;
      top: 140px;
    }
    &.four {
      left: 0;
      bottom: 210px;
    }
    &.five {
      right: 0;
      bottom: 100px;
    }
    &.six {
      bottom: 0;
      right: 0;
    }
  }
  &.desktop {
    display: none;
  }
  @include screen(desktop) {
    &.mobile {
      display: none;
    }
    &.desktop {
      display: initial;
      &.one {
        left: 0;
        top: 0;
      }
      &.two {
        right: 0;
        top: 0;
      }
      &.three {
        left: 0;
        bottom: 0;
      }
      &.four {
        right: 0;
        bottom: 0;
      }
    }
  }
}
