@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.result {
  width: 100%;
  min-height: 79px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  margin-bottom: 24px;
  z-index: 2;
  @include screen(mobile) {
    padding: 3px 18px;
    min-height: 65px;
    margin-bottom: 13px;
  }
  &.correct {
    background-color: #fffbfa;
  }
  &.wrong {
    background-color: #ffdbdb;
  }
  p {
    margin-right: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 148.9%;
    color: $light-purple;
    opacity: 0.8;
    @include screen(mobile) {
      font-size: 12px;
      margin-right: 20px;
    }
  }
  img {
    margin-left: auto;
  }
}
