@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  @include screen(desktop) {
    margin-bottom: 28px;
  }
  &__avatar {
    margin-right: 15px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: #fffbfa;
    @include screen(desktop) {
      height: 52px;
      width: 52px;
    }
  }
  &__text {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #ffffff;
    @include screen(desktop) {
      font-size: 21px;
      line-height: 23px;
    }
  }
  &__number {
    font-size: 20px;
    color: $orange;
    @include screen(desktop) {
      font-size: 26px;
    }
  }
}
.result-close-btn {
  position: absolute;
  cursor: pointer;
  z-index: 2;
  width: 15px;
  height: 15px;
  right: 0;
  @include screen(desktop) {
    right: -130px;
    width: 25px;
    height: 25px;
  }
}
