@import "../../sass/_mixins.scss";
@import "../../sass/_variables.scss";

.stars {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 19px;
  @include screen(desktop) {
    margin-bottom: 58px;
  }
  svg {
    margin: 0 2px;
    width: 22px;
    height: 22px;
    @include screen(desktop) {
      width: auto;
      height: auto;
    }
  }
}
